body {
    font-family: Arial, sans-serif;
    background: #f5f5f5; /* Gris très clair pour le fond */
    color: #333; /* Couleur de texte gris foncé pour un meilleur contraste */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.container {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff; /* Blanc pour le fond du conteneur */
    border-radius: 10px;
    flex: 1; /* Prendre tout l'espace disponible */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Légère ombre pour la profondeur */
}



form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input, form textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc; /* Bordure grise légère */
    background: #ffffff; /* Blanc pour les champs de texte */
}

form input[type="submit"] {
    background: #4caf50; /* Vert doux pour le bouton de soumission */
    color: white;
    cursor: pointer;
    border: none;
}

form input[type="submit"]:hover {
    background: #45a049; /* Vert un peu plus foncé sur survol */
}


h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-weight: 600;
    color: #444;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: black;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}



p, ul {
    font-size: 16px;
    line-height: 1.6;
}

/* Bouton principal */
.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    background: #2196f3; /* Bleu doux */
    color: white;
}

.button:hover {
    background: #1e88e5; /* Bleu légèrement plus foncé sur survol */
}

/* Bouton Ajouter */
.button-add {
    background: #4CAF50; /* Bleu doux */
    color: white;
    margin-bottom: 20px;
}

.button-add:hover {
    background: #7cd37f; /* Bleu légèrement plus foncé sur survol */
}

/* Bouton Modifier */
.button-edit {
    background: #4CAF50; /* Jaune doux */
    color: white;
}

.button-edit:hover {
    background: #7cd37f; /* Jaune légèrement plus foncé sur survol */
}

/* Bouton Supprimer */
.button-delete {
    background: red; 
    color: white;
}

.button-delete:hover {
    background: pink;
}

/* Champ de texte pour l'ID */
input[type='text'], input[type='date'], input[type='password'], input[type='email'] {
    background: #ffffff; /* Blanc pour les champs de texte */
    border: 1px solid #ccc; /* Bordure grise légère */
    color: #333;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
}

input[type='text']:focus, input[type='date']:focus, input[type='password']:focus, input[type='email']:focus {
    outline: none;
    border-color: #2196f3; /* Bordure bleue en focus */
}

input::placeholder {
    color: #999; /* Gris clair pour les placeholders */
}

.logo {
    height: 50px; /* Taille du logo */
    margin-bottom: 20px; /* Espacement sous le logo */
}

/* En-tête */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header .logo {
    height: 50px; /* Taille du logo */
    margin-left: 20px; /* Espacement entre le logo et le formulaire de recherche */
}

/* Formulaire de recherche */
.search-form {
    display: flex;
    align-items: center;
}

.search-input {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc; /* Bordure grise légère */
    border-radius: 20px;
    outline: none;
    font-size: 16px;
    background-color: #ffffff; /* Couleur de fond blanche */
    color: black; /* Couleur du texte */
}

.search-button {
    padding: 10px;
    border: none;
    border-radius: 0 20px 20px 0;
    background-color: #2196f3; /* Bleu doux */
    cursor: pointer;
    color: white;
}

.search-button img {
    width: 20px;
    height: 20px;
}

/* Boutons */
.button-1 {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    background: #2196f3; /* Bleu doux */
    color: white;
}

.button-1:hover {
    background: #1e88e5; /* Bleu légèrement plus foncé sur survol */
}

.result-count {
    color: white;
    background-color: #4caf50; /* Vert doux */
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
    text-align: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2196f3; /* Bleu doux */
    padding: 10px 20px;
    position: relative;
}

.navbar .logo {
    height: 50px;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.bouton-scrap {
    background: #ff9800; /* Orange doux */
    color: white;
    margin-bottom: 20px;
    text-decoration: none;
}

.bouton-scrap:hover {
    background: #fb8c00; /* Orange légèrement plus foncé sur survol */
}

.button-upload {
    padding: 8px 16px;
    width: 120px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    background: #2196f3; /* Bleu doux */
    color: white;
    margin-bottom: 10px;
}

.button-upload:hover {
    background: #1e88e5; /* Bleu légèrement plus foncé sur survol */
}
