body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

header {
    background-color: #d9534f; /* Light red color */
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

h1, h2 {
    color: #d9534f; /* Light red color */
}

p, ul {
    font-size: 16px;
    line-height: 1.6;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

footer {
    background-color: #d9534f; /* Light red color */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.logo {
    height: 70px; /* Taille du logo */
    margin-bottom: 20px; /* Espacement sous le logo */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items to the start (left) */
    background-color: #576a86;
    padding: 10px 20px;
    position: relative; /* Add position relative to control child positioning */
}

.navbar .logo {
    height: 50px;
    margin-left: auto; /* Align logo to the left */
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    text-decoration: underline;
}
